schema-eshop.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:complexType name="product">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
      <xs:element name="Price" type="xs:decimal"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Email" type="xs:string"/>
      <xs:element name="Phone" type="xs:string"/>
      <xs:element name="Address" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="whatOrder">
		<xs:sequence>
			<xs:element name="DateWhenCreated" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>

  <xs:complexType name="showOrder">
        <xs:sequence> 
         <xs:element name="CustomerOrder" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
       			    <xs:element name="Customer" type="customer"/>
                <xs:element name="Product" type="product" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="DateOfCreation" type="xs:date" minOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestedID">
		<xs:sequence>
			<xs:element name="ID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>


  <!-- Request for information about product based on its ID (element "ID"; integer) -->
  <xs:element name="ProductInfoRequest" type="requestedID"/>
  <!-- Response of request for product containing name,description and its price
        element("Product")
          element("Name";string)
          element("Description";string)
          element("Price",integer) -->  
  <xs:element name="ProductInfoResponse" type="product" />

  <!-- Request for information about customer based on its ID (element "ID"; integer) -->  
  <xs:element name="CustomerInfoRequest" type="requestedID"/>
  <!-- Response of request for product containing name,description and its price
        element("Customer")
          element("Name";string)
          element("Email";string)
          element("Phone",string)
          element("Adress",string) -->  
  <xs:element name="CustomerInfoResponse" type="customer"/>

  <!-- Request for information about orders based on date (element "DateWhenCreated"; date) --> 
  <xs:element name="OrdersOnDateRequest" type="whatOrder"/>
  <!-- Response for request of list of orders on specific date
        element("CustomerOrder")
          element("Customer") 
            element("Name"; string)
            element("Email"; string)
            element("Phone"; string)
            element("Adress"; string) 
          element("Product")
            element("Name"; string)
            element("Description"; string)
            element("Price",integer)
          element("DateOfCreation"; date) -->    
  <xs:element name="OrdersOnDateResponse" type="showOrder" />

</xs:schema>

